body {
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033);
    font-family: monospace;
}

.main-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    margin: 0 auto;
    width: 308px;
    height: 510px;
    background-color: rgb(231, 230, 230);
}

.output {
    background: #000000;
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
    background: linear-gradient(to right, #0f9b0f, #161616);
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgb(225, 225, 225, .75);
    font-size: 1.5rem;
}

.current-operand{
    color: rgb(225, 225, 225);
    font-size: 2.5rem;
}


.ac-button, .del, .procents, .key {
    background-color: rgb(158, 216, 252);
    width: 75px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid white;
}

.big-key {
    width: 152px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
}

.key:hover {
    background-color: rgb(236, 235, 235);
}